[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
django = "==4.2.16"
django-geojson = "==4.1.0"
django-leaflet = "==0.31.0"
sqlparse = "==0.5.1"
typing-extensions = "==4.12.2"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.12"
