body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('/images/background.jpg') no-repeat center center fixed; /* Remove the tilde (~) */
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
