{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
    <title>SCMG Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home_styles.css' %}">
{% endblock %}

{% block content %}
    <section class="hero">
        <h1>Welcome to Strawberry Creek!</h1>
        <p class="intro-text">
            Strawberry Creek travels throughout the UC Berkeley Campus, and has been an integral part
            of our environment since the University's founding in 1868. Home to several endangered/
            threatened species and native wildlife, Strawberry Creek is an urban watershed teeming with
            life. It also serves as an educational resource for several courses on campus.
        </p>
    </section>

    <section class="image-grid">
        <div class="image-card"></div>
        <div class="image-card"></div>
        <div class="image-card"></div>
    </section> 
{% endblock %}